

/**-------------------------------------footer------------------------------**/

.footer {
    padding-top: 1rem;
    width: 100%;
    background-color: black;
}

.footer li {
    list-style: none;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Poiret One', cursiva;
    font-size: 30px;
}

.carousel-item {

width: 1100px;
height: 500px;

}