
/**---------------------------------------Edicion de Bootstrap para servicios--------------**/

#galeria img:hover {
    border: 20px solid whitesmoke;
}

.paragraph li {

    padding: 15px;
    list-style: none;
    font-family: 'Poiret One', cursiva;
    font-weight: bold;
    text-align: center;
    font-size: 25px;

}